

<header>
  <link rel="stylesheet" href="popup.css">
</header>
<body>
    <!--
    <form action="/your-name/" method="post">
      <label for="your_name">Your name: </label>
      <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
      <input type="submit" value="OK">
    </form>
    <form action="/BUTTON/" method="post">
      <button type="submit" style="border: 0; background: transparent">
        <img src="image.jpg" width="50" height="50" alt="submit" />
      </button>
    </form>
  -->

    <div class="page">
      <div class="page__container">
        <a href="#popup-article" class="open-popup">
          <button class="print_form" type="submit" style="border: 0; background: transparent; width: 50px; height: 50px;">
            <input name="data" type="hidden" value="1">
            <img src="image.jpg" alt="print" />
          </button>
        </a>
        <p>테스트 중입니다. </p>
      </div>

    </div>
    <div id="popup-article" class="popup">
      <div class="popup__block">
        <div class="linkedin">
          <div class="linkedin__container">
            <p class="linkedin__text">I'm looking for my fans which I'll give away everything I know. If you're interested then 👉 <a href="https://www.patreon.com/melnik909" class="linkedin__link" rel="noopener noreferrer" target="_blank">join to me on Patreon!</a></p>
          </div>
        </div>
        <h1 class="popup__title">The my adventure in the France and photography with Tour De France</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eaque optio vitae in explicabo recusandae sit id sapiente excepturi tempore, nemo, nulla odio deleniti rerum nisi perferendis aut molestias! Incidunt nesciunt iusto praesentium! In at maiores quibusdam enim quis, quam!</p>
        <p>Architecto magni dolores cumque tenetur nemo id aperiam, ratione temporibus at, consectetur totam, fuga et illo rerum earum dicta. Vitae ullam harum enim aliquid hic commodi voluptas cumque iste ex accusantium architecto doloremque reprehenderit, asperiores vero dolor, esse inventore dolorem.</p>
        <p>Excepturi eaque, reprehenderit dolores, cum molestias repellendus in expedita. Placeat totam, quos pariatur quidem explicabo id harum ab voluptatum. Necessitatibus, aliquam! Dolorum voluptatem ut laudantium excepturi cumque, hic iure impedit ullam accusantium error natus recusandae, quia fuga quo voluptates officiis?</p>
        <p>Dignissimos debitis eos necessitatibus accusantium natus voluptates illo blanditiis corporis minus. Repudiandae libero quae, illo error expedita consectetur possimus voluptate eum esse quam molestiae tempore dignissimos ipsam similique ab quod. Ea earum adipisci rem voluptatem aliquid voluptatum deleniti necessitatibus provident.</p>
        <p>Dicta eum amet impedit maiores accusamus numquam saepe necessitatibus temporibus ut! Velit ducimus repellendus fuga repudiandae culpa voluptatibus delectus praesentium totam odit ratione, tenetur assumenda, labore esse et nostrum a, aut veritatis. Nihil, voluptas, impedit? Magnam dolorum, iure repellendus vitae.</p>
        <p>Temporibus voluptatum voluptatibus iste, nam atque dignissimos quam labore sequi adipisci tempore exercitationem quos, libero, reprehenderit facere quasi soluta, itaque at eum cum possimus! Facilis, tempora soluta at quis. Nemo expedita voluptate esse nam ex odit, sequi eveniet quibusdam, dolores?</p>
        <p>Praesentium laboriosam iste dolore cumque voluptatibus deleniti quia, delectus provident, illum aperiam, atque molestiae. Cum delectus, doloribus expedita eius veritatis assumenda deleniti veniam reprehenderit animi ut, eaque asperiores, dicta incidunt omnis repellendus dolorum enim inventore rerum voluptatem saepe error id.</p>
        <a href="#" class="popup__close">close</a>
      </div>
    </div>
  </body>
