{% extends 'base.html' %}
{% block title %}
- Converter
{% endblock %}

{% load static %}

{% block content %}
<header>
  <link rel="stylesheet" href="{% static 'codepen/css/converter2.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Galada|Lobster|Noto+Serif|PT+Serif&display=swap" rel="stylesheet">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/utils/Draggable.min.js"></script>
</header>
<body>
  <div class="container__verti">
    <div class="col">
      <div class="container__hori">
        <div class="item">
          <br>
          <h4>Style</h4>
          <div class="styles">
            <table class="style-table small" align="center">
            	<tr class="img s1">
                <form id="next" action={% url 'open_converter' %} method="post">
                  {% csrf_token %}
                  <button class="styles_form" type="submit" style="border: 0; background: transparent">
                    <input name="num" type="hidden" value="1">
                    <img src="{% static 'codepen/img/style1.png' %}" alt="Style1" />
                  </button>
                </form>
            	</tr>
              <tr class="img s2">
                <form id="next" action={% url 'open_converter' %} method="post">
                  {% csrf_token %}
                  <button class="styles_form" type="submit" style="border: 0; background: transparent">
                    <input name="num" type="hidden" value="2">
                    <img src="{% static 'codepen/img/style2.jpg' %}" alt="Style2" />
                  </button>
                </form>
            	</tr>
              <br/>
              <tr class="img s3">
                <form id="next" action={% url 'open_converter' %} method="post">
                  {% csrf_token %}
                  <button class="styles_form" type="submit" style="border: 0; background: transparent">
                    <input name="num" type="hidden" value="3">
                    <img src="{% static 'codepen/img/Style3.jpg' %}" alt="Style3" />
                  </button>
                </form>
            	</tr>
              <tr class="img s4">
                <form id="next" action={% url 'open_converter' %} method="post">
                  {% csrf_token %}
                  <button class="styles_form" type="submit" style="border: 0; background: transparent">
                    <input name="num" type="hidden" value="4">
                    <img src="{% static 'codepen/img/style4.png' %}" alt="Style4" />
                  </button>
                </form>
            	</tr>
              <br/>
              <tr class="img s5">
                <form id="next" action={% url 'open_converter' %} method="post">
                  {% csrf_token %}
                  <button class="styles_form" type="submit" style="border: 0; background: transparent">
                    <input name="num" type="hidden" value="5">
                    <img src="{% static 'codepen/img/style5.jpg' %}" alt="Style5" />
                  </button>
                </form>
            	</tr>
              <tr class="img s6">
                <form id="next" action={% url 'open_converter' %} method="post">
                  {% csrf_token %}
                  <button class="styles_form" type="submit" style="border: 0; background: transparent">
                    <input name="num" type="hidden" value="6">
                    <img src="{% static 'codepen/img/style6.png' %}" alt="Style6" />
                  </button>
                </form>
            	</tr>
            </table>
            <br><br>
            <p>Press button to change the image style.</p>
          </div>

        </div>
        <div class="item">
          <div id="before-after">
            <div class="view view-after"><!--<div id="loader" class="loader"></div>--></div>
            <div class="view view-before"><img src={{input|safe}} onerror="this.src='{% static 'codepen/img/error.jpg' %}'" alt="" style="width: 600px; height:500px;" /></div>
          </div>
        </div>
        <div class="item">
          <br>
          <h4>Color</h4>
          <div class="colors">
            <table class="color-table small" align="center">
            	<tr>
            		<td class="sample sample-1 reds-1"></td>
            		<td class="sample sample-2 reds-2"></td>
            		<td class="sample sample-3 reds-3"></td>
            		<td class="sample sample-4 reds-4"></td>
            	</tr>
            </table>

            <table class="color-table small" align="center">
            	<tr>
            		<td class="sample sample-1 oranges-1"></td>
            		<td class="sample sample-2 oranges-2"></td>
            		<td class="sample sample-3 oranges-3"></td>
            		<td class="sample sample-4 oranges-4"></td>
            	</tr>
            </table>

            <table class="color-table small" align="center">
            	<tr>
            		<td class="sample sample-1 greens-1"></td>
            		<td class="sample sample-2 greens-2"></td>
            		<td class="sample sample-3 greens-3"></td>
            		<td class="sample sample-4 greens-4"></td>
            	</tr>
            </table>

            <table class="color-table small" align="center">
            	<tr>
            		<td class="sample sample-1 turquoises-1"></td>
            		<td class="sample sample-2 turquoises-2"></td>
            		<td class="sample sample-3 turquoises-3"></td>
            		<td class="sample sample-4 turquoises-4"></td>
            	</tr>
            </table>
          </div>
          <br><br><br><br><br><br><br>
          <p>These are 16 colors used in beads art</p>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'codepen/js/converter2.js' %}"></script>
{% endblock %}
